:root {
    --color-dark: #010A13;
    --color-gray: #1F272F;
    --color-dark-blue: #0C5CB0;
    --color-blue: #007BFF;
    --color-light-blue: #B7D8FA;
    --color-light-gray: #E6E6E6;
    --color-white: #FAFCFF;
    --color-red: rgb(255, 0, 0);
    --color-light-red: #b10202;
}